<div class="row" style="height: 40px;border-radius: 5px;  background-color: #f5f5f5;margin-top:20px;
   margin-left: 0px;margin-right: 0px;padding-top:5px;">

  <div class="col-md-2 offset-md-2" style="cursor: pointer;float: left;width: 75px;" (click)="redirectTo(1)">
    <a class="" routerLinkActive="active">Tasks</a>
  </div>
  <div class="col-md-2" style="cursor: pointer;float: left;width: 75px" (click)="redirectTo(2)">
    <a class="" routerLinkActive="active">Completed</a>
  </div>
  <div class="col-md-2" style="cursor: pointer;float: left;width: 75px" (click)="redirectTo(3)">
    <a class="" routerLinkActive="active">Deleted</a>
  </div>
  <div *ngIf="showAddButton" class="col-md-2" style="cursor: pointer;float: left;width: 75px; border: 1px solid;
  border-radius: 5px; background-color: darkgray; font-family: unset;
  font-weight: bold;" (click)="addSection()">
    <a class="" routerLinkActive="active">Add Section</a>
  </div>
</div>

<div class="row" *ngIf="showAddSection" style="margin-top:30px;">
  <div class="col-md-4 offset-md-4">
    <input type="text" class="form-control" style="border: none;
    border-bottom: 1px solid black;
    border-radius: 1px" [(ngModel)]="sectionName" placeholder="New Section">
  </div>

  <div class="col-md-2" style="padding-top: 10px;">
    <i (click)="addNewSectionItem()" class="fa fa-plus" aria-hidden="true" style="cursor: pointer;"></i>
    <i (click)="hideSectionItem()" class="fa fa-times" aria-hidden="true"
      style="margin-left: 20px;cursor: pointer;"></i>
  </div>
</div>




<router-outlet></router-outlet>